@import '../../../css/mixins.scss';
@import '../../../css/variables.scss';

$on-hover-color: rgba(71, 71, 71, 1);

.main-menu{
  @include reset-list;

  display: flex;
  flex-wrap: wrap;
  column-gap: 40px;

  font-size: 14px;
  line-height: 20px;
  color: $basic-text-color;
  letter-spacing: 0.07em;
}

.main-menu__link {
  @include reset-link;

  &:hover,
  &:focus {
    color: $on-hover-color;
  }

  &:active {
    opacity: 0.5;
  }
}
