@import '../../../../css/mixins.scss';
@import '../../../../css/variables.scss';

.popup-success {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: 40px;

  width: 640px;
  min-height: 132px;
}

.popup-success__title {
  font-family: $basic-font;
  font-weight: bold;
  font-size: 18px;
  line-height: 15px;
  letter-spacing: 0.05em;
  color: rgba(71, 71, 71, 1);

  padding: 0;
  margin: 0;
}

.popup-success__button-container {
  align-self: center;

  display: flex;
  column-gap: 37px;
}

.popup-success__button {
  @include reset-link;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: $basic-font;
  font-weight: bold;
  font-size: 16px;
  line-height: 15px;
  letter-spacing: 0.1em;

  width: 220px;
  min-height: 46px;
  padding: 2px 10px;
  box-sizing: border-box;
  cursor: pointer;

  &--to-basket {
    background-color: rgba(226, 127, 0, 1);
    color: $alternative-text-color;
    padding-bottom: 5px;
  }

  &--continue {
    border: 1px solid rgba(88, 87, 87, 1);
    background-color: rgba(255, 255, 255, 1);
    color: rgba(88, 87, 87, 1);

    &:hover,
    &:focus {
      opacity: 0.7;
    }

    &:active {
      color: rgba(88, 87, 87, 0.5);
      border-color: rgba(108, 108, 108, 0.5);
    }
  }
}
