@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: normal;
  font-display: optional;
  src: local('Droid Sans'),
  url('../fonts/droid-sans.woff2') format('woff2'),
  url('../fonts/droid-sans.woff') format('woff'),
}

@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: local('Droid Sans'),
  url('../fonts/droid-sans-bold.woff2') format('woff2'),
  url('../fonts/droid-sans-bold.woff') format('woff'),
}
